<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalyearproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalYearProject">
        <activity
            android:name=".questionThree"
            android:exported="false" />
        <activity
            android:name=".QuestionTwo"
            android:exported="false" />
        <activity
            android:name=".QuestionOne"
            android:exported="false" />
        <activity
            android:name=".startGame"
            android:exported="false" />
        <activity
            android:name=".patientProfile"
            android:exported="false" />
        <activity
            android:name=".addPatient"
            android:exported="false" />
        <activity
            android:name=".listOfPatients"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>